.center_div{
    padding-left: 7%;
  }
  
  .form-group{
    padding: 5px;
  }
  
  .requestMessage{
    margin-left: 5px;
    width: 400px;
  }
  
  input{
    width: 400px;
  }

  #deleteButton{
    margin-left:10px;
  }