<div class="center_div">
    <h2>Update Tournament</h2>
    <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" [readonly]="!isAdminUser || tournamentStarted"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Tournament name is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="startDate">Start date</label>
            <input type="date" formControlName="startDate" class="form-control" onkeydown="return false"
                min="{{futureDate| date: 'yyyy-MM-dd'}}"  [readonly]="!isAdminUser ||tournamentStarted"/>
        </div>

        <div class="form-group">
            <label for="completionDate">Completion date</label>
            <input type="date" formControlName="completionDate" class="form-control" onkeydown="return false"
                min="{{futureDate| date: 'yyyy-MM-dd'}}" readonly/>

        </div>

        <div class="form-group">
            <label for="hostCountry">Host country</label>
            <input type="text" formControlName="hostCountry" class="form-control" readonly  />
        </div>

        <div class="form-group">
            <label for="tournamentType">Tournament type</label>
            <input type="text" formControlName="tournamentType" class="form-control" readonly  />
        </div>

        <div *ngIf="success" class="alert-success response-message">
            <p>Tournament updated successfully</p>
        </div>
        <div *ngIf="error" class="alert-danger response-message">
            <p>Failed to update tournament</p>
        </div>

        <div *ngIf="!tournamentStarted && isAdminUser" class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Update tournament
            </button>
            <button id="deleteButton" type="button" class="btn btn-primary" (click)="deleteTournament()">
                Delete tournament
            </button>
        </div>
    </form>
</div>