<div class="center_div">
    <h2>{{"TOURNAMENT.UPDATE.TITLE"|translate}}</h2>
    <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">{{"TOURNAMENT.UPDATE.NAME.LABEL"|translate}}</label>
            <input type="text" formControlName="name" class="form-control" [readonly]="!isAdminUser || tournamentStarted"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"/>
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">{{"TOURNAMENT.UPDATE.NAME.REQUIRED"|translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="startDate">{{"TOURNAMENT.UPDATE.START_DATE.LABEL"|translate}}</label>
            <input type="date" formControlName="startDate" class="form-control" onkeydown="return false"
                min="{{futureDate| date: 'yyyy-MM-dd'}}"  [readonly]="!isAdminUser || tournamentStarted"/>
        </div>

        <div class="form-group">
            <label for="completionDate">{{"TOURNAMENT.UPDATE.COMPLETION_DATE.LABEL"|translate}}</label>
            <input type="date" formControlName="completionDate" class="form-control"
                min="{{futureDate| date: 'yyyy-MM-dd'}}" readonly/>
        </div>

        <div class="form-group">
            <label for="hostCountry">{{"TOURNAMENT.UPDATE.HOST_COUNTRY.LABEL"|translate}}</label>
            <input type="text" formControlName="hostCountry" class="form-control" readonly  />
        </div>

        <div class="form-group">
            <label for="tournamentType">{{"TOURNAMENT.UPDATE.TYPE.LABEL"|translate}}</label>
            <input type="text" formControlName="tournamentType" class="form-control" readonly  />
        </div>

        <div *ngIf="success" class="alert-success response-message">
            <p>{{"TOURNAMENT.UPDATE.SUCCESS"|translate}}</p>
        </div>
        <div *ngIf="error" class="alert-danger response-message">
            <p>{{"TOURNAMENT.UPDATE.ERROR"|translate}}</p>
        </div>

        <div *ngIf="!tournamentStarted && isAdminUser" class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{"TOURNAMENT.UPDATE.BUTTON"|translate}}
            </button>
            <button id="deleteButton" type="button" class="btn btn-primary" (click)="deleteTournament()">
                {{"TOURNAMENT.DELETE.BUTTON"|translate}}
            </button>
        </div>
    </form>
</div>