.center_div{
  padding-left: 10%;
}

#title{
  padding-left: 190px;
}
  
.left-player{
  margin:auto;
  margin-left: 5px;
}

div.left-player{
  width: 100px;
}

.right-player{
  margin:auto;
  margin-right: 5px;
}

div.right-player{
  width: 90px;
}

.form-group{
    padding: 5px;
}
  
.requestMessage{
    margin-left: 5px;
    width: 400px;
}
  
input{
    width: 70px;
    height: 30px;
}

#closeButton{
  float: right;
  margin-right: 60px;
}

#saveStatistics{
  text-align: center;
}
  