<div class="center_div">
    <button id="closeButton" class="btn-close" (click)="closeDialog()"></button>
    <h2 id="title">{{"STATISTICS.TITLE"|translate}}</h2>
    <div class="d-flex p-3">
        <div class="left-player">{{selectedMatch.firstPlayer.firstName}} <br> {{selectedMatch.firstPlayer.lastName}}
        </div>
        <div>vs</div>
        <div class="right-player">{{selectedMatch.secondPlayer.firstName+" "+selectedMatch.secondPlayer.lastName}}</div>
    </div>
    <form [formGroup]="statisticsForm" (ngSubmit)="onSubmit()">
        <div class="d-flex p-3">
            <input type="number" formControlName="firstPlayerPoints" readonly class="form-control left-player" min="0"
                [readonly]="!isAdminUser" />
            <label for="points">{{"STATISTICS.POINTS"|translate}}</label>
            <input type="number" formControlName="secondPlayerPoints" readonly class="form-control right-player" min="0"
                [readonly]="!isAdminUser" />
        </div>
        <div class="d-flex p-3">
            <input type="number" formControlName="firstPlayerAces" readonly class="form-control left-player" min="0"
                min="0" [readonly]="!isAdminUser" />
            <label for="aces">{{"STATISTICS.ACES"|translate}}</label>
            <input type="number" formControlName="secondPlayerAces" readonly class="form-control right-player" min="0"
                min="0" [readonly]="!isAdminUser" />
        </div>
        <div class="d-flex p-3">
            <input type="number" formControlName="firstPlayerBreakPoints" readonly class="form-control left-player"
                min="0" [readonly]="!isAdminUser" />
            <label for="breakPoints">{{"STATISTICS.BREAK_POINTS"|translate}}</label>
            <input type="number" formControlName="secondPlayerBreakPoints" readonly class="form-control right-player"
                min="0" [readonly]="!isAdminUser" />
        </div>
        <div class="d-flex p-3">
            <input type="number" formControlName="firstPlayerFirstServesIn" readonly class="form-control left-player"
                min="0" [readonly]="!isAdminUser" />
            <label for="firstServesIn">{{"STATISTICS.FIRST_SERVES_IN"|translate}}</label>
            <input type="number" formControlName="secondPlayerFirstServesIn" readonly class="form-control right-player"
                min="0" [readonly]="!isAdminUser" />
        </div>
        <div class="d-flex p-3">
            <input type="number" formControlName="firstPlayerSecondServesIn" readonly class="form-control left-player"
                min="0" [readonly]="!isAdminUser" />
            <label for="secondServesIn">{{"STATISTICS.SECOND_SERVES_IN"|translate}}</label>
            <input type="number" formControlName="secondPlayerSecondServesIn" readonly class="form-control right-player"
                min="0" [readonly]="!isAdminUser" />
        </div>

        <div *ngIf="success" class="alert-success response-message">
            <p>{{"STATISTICS.SUCCESS"|translate}}</p>
        </div>

        <div *ngIf="error" class="alert-danger response-message">
            <p>{{"STATISTICS.ERROR"|translate}}</p>
        </div>

        <div id="saveStatistics" class="form-group">
            <button *ngIf="isAdminUser" [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{"STATISTICS.BUTTON_SAVE"|translate}}
            </button>
        </div>
    </form>
</div>