.center_div{
  padding-left: 10%;
}
#closeButton{
  float: right;
  margin-right: 60px;
}
#title{
  padding-left: 190px;
}
.left-player{
  margin:auto;
  margin-left: 5px;
}
div.left-player{
  width: 100px;
}
.right-player{
  margin:auto;
  margin-right: 5px;
}
div.right-player{
  width: 90px;
}
input{
  width: 70px;
  height: 30px;
}
.response-message{
  margin-left: 5px;
  width: 400px;
}
#saveStatistics{
  text-align: center;
}
.form-group{
  padding: 5px;
}
