<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="tournament">Tournament</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="player">Player</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">H2H</a>
      </li>
    </ul>
    <a id="atp" class="navbar-brand" href="#"><img id="logo" src="/assets/images/logo.png" /></a>
    <form id="search" class="form-inline ms-auto">
      <div class="input-group">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>
    <a class="nav-link" href="login">Login</a>
  </div>
</nav>