<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>{{"FOOTER.ABOUT"|translate}}</h6>
        <p class="text-justify">{{"FOOTER.DESCRIPTION"|translate}}</p>
      </div>

      <div class="col-xs-6 col-md-3 quick-access">
        <h6>{{"FOOTER.CATEGORIES"|translate}}</h6>
        <ul class="footer-links">
          <li><a href="#">{{"FOOTER.TOURNAMENTS"|translate}}</a></li>
          <li><a href="#">{{"FOOTER.PLAYERS"|translate}}</a></li>
          <li><a href="#">{{"FOOTER.MATCHES"|translate}}</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3 quick-access">
        <h6>{{"FOOTER.CATEGORIES"|translate}}</h6>
        <ul class="footer-links">
          <li><a href="tournament">{{"FOOTER.TOURNAMENTS"|translate}}</a></li>
          <li><a href="player">{{"FOOTER.PLAYERS"|translate}}</a></li>
          <li><a href="matches">{{"FOOTER.MATCHES"|translate}}</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">{{"FOOTER.COPYRIGHT"|translate}} &copy; {{"FOOTER.RIGHTS_RESERVED"|translate}}
          <a href="#">{{"FOOTER.ATP"|translate}}</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" target="_blank" href="https://www.facebook.com/ATPTour/"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" target="_blank" href="https://twitter.com/atptour"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/company/atp-always-ready"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>