  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">As a global governing body of men’s professional tennis, the ATP’s mission is to serve tennis. We entertain a billion global fans, showcase the world’s greatest players at the most prestigious tournaments, and inspire the next generation of fans and players. From the ATP Cup in Australia, to Europe, the Americas and Asia, the stars of the game battle for titles and ATP Rankings points at ATP Masters 1000, 500 and 250 events, and Grand Slams. All roads lead towards the Nitto ATP Finals, the prestigious season finale held in Turin, Italy. Featuring only the world’s top 8 qualified singles players and doubles teams, the tournament also sees the official crowning of the year-end ATP World No. 1, the ultimate achievement in tennis.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="#">Tournaments</a></li>
            <li><a href="#">Players</a></li>
            <li><a href="#">Matches</a></li>
            <li><a href="#">H2H</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tournaments</a></li>
            <li><a href="#">Players</a></li>
            <li><a href="#">Matches</a></li>
            <li><a href="#">H2H</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>