.center_div{
    padding-top: 7px;
    padding-left: 30%;
  }
  
  .form-group{
    padding: 5px;
  }
  
  .requestMessage{
    margin-left: 5px;
    width: 400px;
  }
  
  input{
    width: 400px;
  }