<div class="d-flex p-3">
    <div class="center_div">
        <h2>{{"TOURNAMENT.ADD.TITLE"|translate}}</h2>
        <form [formGroup]="tournamentForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">{{"TOURNAMENT.ADD.NAME.LABEL"|translate}}</label>
                <input type="text" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">{{"TOURNAMENT.ADD.NAME.REQUIRED"|translate}}</div>
                </div>
            </div>


            <div class="form-group">
                <label for="startDate">{{"TOURNAMENT.ADD.START_DATE.LABEL"|translate}}</label>
                <input type="date" formControlName="startDate" class="form-control" onkeydown="return false"
                    min="{{futureDate| date: 'yyyy-MM-dd'}}"
                    [ngClass]="{ 'is-invalid': submitted && f['startDate'].errors }" />
                <div *ngIf="submitted && f['startDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['startDate'].errors['required']">{{"TOURNAMENT.ADD.START_DATE.REQUIRED"|translate}}</div>
                </div>
            </div>



            <div class="form-group">
                <label for="hostCountry">{{"TOURNAMENT.ADD.HOST_COUNTRY.LABEL"|translate}}</label>
                <input type="text" class="form-control" matInput [matAutocomplete]="autoCountry" [formControl]="countryControl"
                  [ngClass]="{ 'is-invalid': submitted && !validCountry }" />
                <mat-autocomplete #autoCountry="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                        {{country.name}}
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="submitted && !validCountry" class="invalid-feedback">
                    <div>{{"TOURNAMENT.ADD.HOST_COUNTRY.VALID"|translate}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="participants">{{"TOURNAMENT.ADD.PARTICIPANTS.LABEL"|translate}}</label>
                <input type="text" class="form-control" matInput [matAutocomplete]="autoParticipants" [formControl]="participantControl"
                [readonly]="numberOfParticipants===16"[ngClass]="{ 'is-invalid': submitted && numberOfParticipants!==16 }" />
                <mat-autocomplete #autoParticipants="matAutocomplete" [displayWith]="displayPlayer">
                    <mat-option *ngFor="let player of filteredPlayers | async" [value]="player" 
                     (onSelectionChange)="addParticipant(player)">
                        {{'('+player.rank+') '+player.firstName+" "+player.lastName+" ("+player.birthCountry.codeName+")"}}
                    </mat-option>
                </mat-autocomplete>
                <div *ngIf="submitted && numberOfParticipants!==16" class="invalid-feedback">
                    <div>{{"TOURNAMENT.ADD.PARTICIPANTS.REQUIRED"|translate}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="tournamentType">{{"TOURNAMENT.ADD.TYPE.LABEL"|translate}}</label>
                <select id="tournamentType" class="form-select" formControlName="tournamentType">
                    <option value="Grand Slam">{{"TOURNAMENT.ADD.TYPE.OPTIONS.FIRST_OPTION"|translate}}</option>
                    <option value="Masters 1000">{{"TOURNAMENT.ADD.TYPE.OPTIONS.SECOND_OPTION"|translate}}</option>
                </select>
                <div *ngIf="submitted && f['tournamentType'].errors" class="invalid-feedback" style="display: inline;">
                    <div *ngIf="f['tournamentType'].errors['required']">{{"TOURNAMENT.ADD.TYPE.REQUIRED"|translate}}</div>
                </div>
            </div>

            <div *ngIf="success" class="alert-success response-message">
                <p>{{"TOURNAMENT.ADD.SUCCESS"|translate}}</p>
            </div>
            <div *ngIf="error" class="alert-danger response-message">
                <p>{{"TOURNAMENT.ADD.ERROR"|translate}}</p>
            </div>

            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{"TOURNAMENT.ADD.BUTTON"|translate}}
                </button>
            </div>
        </form>
    </div>

    <div class="center_div tournament-participants">
        <div class="d-flex">
            <p class="participants-number">{{"TOURNAMENT.ADD.PARTICIPATING"|translate}} {{numberOfParticipants}}</p>
            <p class="missing-number">{{"TOURNAMENT.ADD.MISSING"|translate}} {{16-numberOfParticipants}}</p>
        </div>
        <div *ngFor="let player of chosenPlayers">
        <div class="participant d-flex">
            <p>{{'('+player.rank+') '+player.firstName+" "+player.lastName+" ("+player.birthCountry.codeName+")"}}</p>
            <button class="btn-close remove-participant" (click)="removeParticipant(player)"></button>
        </div>
    </div>
    </div>
    <button id="closeButton" class="btn-close" (click)="closeDialog()">
    </button>

</div>