.center_div{
    padding-top: 7px;
    padding-left: 15%;
  }
  
  .form-group{
    padding: 5px;
  }
  
  .requestMessage{
    margin-left: 5px;
    width: 400px;
  }
  
  input{
    width: 400px;
  }

  #tournamentType{
    width:400px;
    margin-top: 3px;
  }
  