<div class="center_div">
    <button id="closeButton" class="btn-close" (click)="closeDialog()">
    </button>
    <h2>{{"PLAYER.ADD.TITLE"|translate}}</h2>

    <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">{{"PLAYER.ADD.FIRST_NAME.LABEL"|translate}}</label>
            <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                <div *ngIf="f['firstName'].errors['required']">{{"PLAYER.ADD.FIRST_NAME.REQUIRED"|translate}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">{{"PLAYER.ADD.LAST_NAME.LABEL"|translate}}</label>
            <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                <div *ngIf="f['lastName'].errors['required']">{{"PLAYER.ADD.LAST_NAME.REQUIRED"|translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="birthCountry">{{"PLAYER.ADD.BIRTH_COUNTRY.LABEL"|translate}}</label>
            <input type="text" class="form-control" matInput [matAutocomplete]="auto" [formControl]="myControl"
                [ngClass]="{ 'is-invalid': submitted && !validCountry }" />
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                    {{country.name}}
                </mat-option>
            </mat-autocomplete>
            <div *ngIf="submitted && !validCountry" class="invalid-feedback">
                <div>{{"PLAYER.ADD.BIRTH_COUNTRY.VALID"|translate}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="dateOfBirth">{{"PLAYER.ADD.DATE_OF_BIRTH.LABEL"|translate}}</label>
            <input type="date" formControlName="dateOfBirth" class="form-control" onkeydown="return false"
                max="{{maximumDate| date: 'yyyy-MM-dd'}}"
                [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }" />
            <div *ngIf="submitted && f['dateOfBirth'].errors" class="invalid-feedback">
                <div *ngIf="f['dateOfBirth'].errors['required']">{{"PLAYER.ADD.DATE_OF_BIRTH.REQUIRED"|translate}}</div>
            </div>
        </div>
        <div class="form-group">
            <label for="currentPoints">{{"PLAYER.ADD.CURRENT_POINTS.LABEL"|translate}}</label>
            <input type="number" formControlName="currentPoints" class="form-control" min="0"
                [ngClass]="{ 'is-invalid': submitted && f['currentPoints'].errors }" />
            <div *ngIf="submitted && f['currentPoints'].errors" class="invalid-feedback">
                <div *ngIf="f['currentPoints'].errors['required']">{{"PLAYER.ADD.CURRENT_POINTS.REQUIRED"|translate}}</div>
            </div>
        </div>
        <div *ngIf="success" class="alert-success response-message">
            <p>{{"PLAYER.ADD.SUCCESS"|translate}}</p>
        </div>
        <div *ngIf="error" class="alert-danger response-message">
            <p>{{"PLAYER.ADD.ERROR"|translate}}</p>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                {{"PLAYER.ADD.BUTTON"|translate}}
            </button>
        </div>
    </form>
</div>